.content_shell {
  margin: 0 auto;
  max-width: 1130px;
}

.container {
  max-width: 1000px;
  padding: 0 15px;
  margin: 0 auto;
}



.standart_block {
  border: 1px solid #e3e2e2;
  background: #fff;
  padding: 0 33px 42px 33px;
}

.comptia_plus_exams {

}

.faq_block {
  
}

.all_exams {

}