@font-face {
    font-family: 'roboto_condensedregular';
    src: url(../fonts/robotocondensed-regular.woff2),
         url(../fonts/robotocondensed-regular.woff);
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'roboto_condensedlight';
  src: url(../fonts/robotocondensed-light.woff2),
       url(../fonts/robotocondensed-light.woff);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'roboto_condensedbold';
  src: url(../fonts/robotocondensed-bold.woff2),
       url(../fonts/robotocondensed-bold.woff);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'robotoitalic';
  src: url(../fonts/roboto-italic.woff2),
       url(../fonts/roboto-italic.woff);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'droid_sansregular';
  src: url(../fonts/droidsans.woff2),
       url(../fonts/droidsans.woff);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'droid_sansbold';
  src: url(../fonts/droidsans-bold.woff2),
       url(../fonts/droidsans-bold.woff);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'robotobold';
  src: url(../fonts/roboto-bold.woff2),
       url(../fonts/roboto-bold.woff);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'robotoblack';
  src: url(../fonts/roboto-black.woff2),
       url(../fonts/roboto-black.woff);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'robotoregular';
  src: url(../fonts/roboto-regular.woff2),
       url(../fonts/roboto-regular.woff);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'robotothin';
  src: url(../fonts/roboto-thin.woff2),
       url(../fonts/roboto-thin.woff);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'robotomedium';
  src: url(../fonts/roboto-medium.woff2),
       url(../fonts/roboto-medium.woff);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'robotolight';
  src: url(../fonts/roboto-light.woff2),
       url(../fonts/roboto-light.woff);
  font-style: normal;
  font-display: swap;
}